<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-reboot.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Lato:300,400">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/getscreenmedia.bundle.js"></script>
    <title>Edufluence</title>
</head>

<body>
    <div class="container">

        <!-- header -->
        <div class="head-wrapper">
            <div class="header-ctn animated slideInDown fast">
                <div class="header-left">
                    <img src="images/logo.svg" width="40px" height="40px" />
                    <h1>edufluence</h1>
                </div>
                <div class="header-right">
                    <a id="toggleAbout" href="">About</a>
                    <a id="toggleHelp" href="">Help</a>
                    <div id="toggleMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- landing page -->
        <div id="landingPage" class="landing-page">
            <div class="landing-text">
                <h1>Simplified learning in real time</h1>
            </div>
            <div class="landing-sub-text">
                <p>Are are you a?</p>
                <div class="arrows animated rotateIn fast">
                    <img class="left-arrow" src="images/arrow-left.png" width="45px" height="50px" />
                    <img class="right-arrow" src="images/arrow-right.png" width="45px" height="50px" />
                </div>
                <div class="landing-buttons">
                    <button id="enterAsStudent">Student<i class="fas fa-user-graduate"></i></button>
                    <button id="enterAsExpert">Expert<i class="fas fa-chalkboard-teacher"></i></button>
                </div>
            </div>
            <div class="footer">Crafted with <i class="fas fa-heart"></i> by Fateh</div>
        </div>

        <!-- student side -->
        <div id="studentEntry" class="user-entry-main animated slideInLeft faster" style="display: none">
            <h3>Welcome <span id="userStudent">Student</span></h3>
            <div id="requestExpertForm" class="user-sub">
                <p><i class="fas fa-user-graduate"></i>Login</p>
                <div class="user-sub-input">
                    <input type="text" id="studentName" placeholder="Username" required autofocus>
                    <input type="password" id="studentPass" placeholder="Password" required>
                    <button id="requestExpert">Request an Expert</button>
                    <div>New user? <button id="sRegister"><span>Register</span></button></div>
                </div>
            </div>
            <div id="studentRegister" class="user-sub" style="display: none">
                <p><i class="fas fa-user-graduate"></i>Register</p>
                <div class="user-sub-input">
                    <input type="text" id="usName" placeholder="Username" required autofocus>
                    <input type="password" id="usPass" placeholder="Password" required>
                    <input type="text" id="usSpl" placeholder="What are you looking for?" required>
                    <button id="ssRegister">Register</button>
                </div>
            </div>
            <div id="waitingForExpert" class="user-waiting" style="display: none;">
                <p>Waiting for the expert to arrive..</p>
                <div class="meter">
                    <span></span>
                </div>
            </div>
            <div id="expertListing" class="expert-listing" style="display: none;">
                <div class="expert-img">
                    <img src="images/expert.jpg" width="290px" height="130px">
                </div>
                <div class="expert-info">
                    <p>The Expert will see you now</p>
                    <button id="callExpert">Call the Expert <i class="fas fa-phone animated infinite tada"></i></button>
                </div>
            </div>
        </div>

        <!-- expert side -->
        <div id="expertSignup" class="user-entry-main animated slideInLeft faster" style="display: none">
            <h3>Welcome <span id="userExpert">Expert</span></h3>
            <div id="expertSignupForm" class="user-sub">
                <p><i class="fas fa-chalkboard-teacher"></i>Login</p>
                <div class="user-sub-input">
                    <input type="text" id="expertName" placeholder="Username" required autofocus>
                    <input type="password" id="expertPass" placeholder="Password" required>
                    <button id="expertSignupButton">Wait for Student</button>
                    <div>New user? <button id="eRegister"><span>Register</span></button></div>
                </div>
            </div>
            <div id="expertRegister" class="user-sub" style="display: none">
                <p><i class="fas fa-chalkboard-teacher"></i>Register</p>
                <div class="user-sub-input">
                    <input type="text" id="ueName" placeholder="Username" required autofocus>
                    <input type="password" id="uePass" placeholder="Password" required>
                    <input type="text" id="ueSpl" placeholder="What is your speciality?" required>
                    <button id="eeRegister">Register</button>
                </div>
            </div>
            <div id="waitingForStudent" class="user-waiting" style="display: none;">
                <p>Waiting for students to contact you..</p>
                <div class="meter">
                    <span></span>
                </div>
            </div>
        </div>

        <!-- video page -->
        <div id="videoPage" class="video-page" style="display: none">
            <div class="main-video">
                <video id="mainVideoTag" autoplay></video>
                <div class="small-video-ctn">
                    <video id="smallVideoTag" autoplay muted></video>
                </div>
            </div>
            <div class="sidenav">
                <a href="" class="close-nav"><i class="fas fa-times"></i></a>
                <h4>Messages</h4>
                <progress id="fileProgress" value="1" max="100" class="progress-styled"></progress>
                <div class="message-box">
                    <div id="messageInName" class="message-in"></div>
                    <div id="messageOutName" class="message-out"></div>
                </div>
            </div>
            <div class="nav-container">
                <button class="open-nav" title="Message"><i class="fas fa-comment"></i></button>
            </div>
            <div class="message-form">
                <input id="myMessage" placeholder="Enter your message" autofocus>
                <button id="sendMessage">Send</button>
            </div>
            <div class="video-options">
                <button id="muteMyself" class="mute-sound" title="Mute audio"><i class="fas fa-microphone-slash"></i></button>
                <button id="pauseMyVideo" class="pause-video" title="Pause video"><i class="fas fa-pause"></i></button>
                <label for="sendFile" class="file-share" title="Share files"><i class="fas fa-share"></i></label>
                <input type="file" id="sendFile">
                <button id="shareMyScreen" class="screen-share" title="Screen share"><i class="fas fa-desktop"></i></button>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.11.7/dist/sweetalert2.all.min.js"></script>
    <script src="js/webrtc.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
